creation_rules:
  - path_regex: '(^|/).*[.]secret[.]ya?ml$'
    encrypted_regex: '^(data|stringData)$'
    age: AGE_RECIPIENT

  - path_regex: '(^|/).*ghcr.*[.]ya?ml$'
    encrypted_regex: '^(data|stringData)$'
    age: AGE_RECIPIENT
