apiVersion: v1
kind: Secret
metadata:
  name: data-secrets
  namespace: data
type: Opaque
stringData:
  postgres-superuser-password: CHANGE_ME
  backend-postgres-password: CHANGE_ME
  identity-postgres-password: CHANGE_ME
  wallet-postgres-password: CHANGE_ME
  redis-password: CHANGE_ME
  clickhouse-password: CHANGE_ME
  minio-root-user: minioadmin
  minio-root-password: CHANGE_ME
